In [1]:
from alpha_vantage.timeseries import TimeSeries
ts = TimeSeries(key='FJUN1WZFGMLHV93F', output_format='pandas')
df, meta_data = ts.get_intraday(symbol='AAPL', interval='1min', outputsize='full')
df

                      1. open   2. high    3. low  4. close  5. volume
date
2025-03-07 19:59:00  238.7500  238.7500  238.6500  238.6500      680.0
2025-03-07 19:58:00  238.7000  238.7000  238.6600  238.7000      554.0
2025-03-07 19:57:00  238.6999  238.6999  238.6500  238.6500       55.0
2025-03-07 19:56:00  238.6999  238.7000  238.6000  238.6999      284.0
2025-03-07 19:55:00  238.6993  238.7000  238.5400  238.7000      180.0
...                       ...       ...       ...       ...        ...
2025-02-06 04:04:00  231.9753  232.0352  231.9153  231.9453      434.0
2025-02-06 04:03:00  232.0452  232.0951  231.9153  231.9553      951.0
2025-02-06 04:02:00  232.0851  232.1750  232.0152  232.0552      379.0
2025-02-06 04:01:00  232.0552  232.2949  232.0352  232.0851      627.0
2025-02-06 04:00:00  232.2050  232.5646  231.7455  232.0052     2330.0

[20077 rows x 5 columns]

In [13]:
df.to_csv('AAPL.csv')

In [16]:
import pandas as pd
df = pd.read_csv('AAPL.csv')
# df.set_index('date', inplace=True)
df

                      1. open   2. high    3. low  4. close  5. volume
date
2025-03-07 19:59:00  238.7500  238.7500  238.6500  238.6500      680.0
2025-03-07 19:58:00  238.7000  238.7000  238.6600  238.7000      554.0
2025-03-07 19:57:00  238.6999  238.6999  238.6500  238.6500       55.0
2025-03-07 19:56:00  238.6999  238.7000  238.6000  238.6999      284.0
2025-03-07 19:55:00  238.6993  238.7000  238.5400  238.7000      180.0
...                       ...       ...       ...       ...        ...
2025-02-06 04:04:00  231.9753  232.0352  231.9153  231.9453      434.0
2025-02-06 04:03:00  232.0452  232.0951  231.9153  231.9553      951.0
2025-02-06 04:02:00  232.0851  232.1750  232.0152  232.0552      379.0
2025-02-06 04:01:00  232.0552  232.2949  232.0352  232.0851      627.0
2025-02-06 04:00:00  232.2050  232.5646  231.7455  232.0052     2330.0

[20077 rows x 5 columns]

In [17]:
df.to_csv('AAPL.csv')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20077 entries, 0 to 20076
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       20077 non-null  datetime64[ns]
 1   1. open    20077 non-null  float64
 2   2. high    20077 non-null  float64
 3   3. low     20077 non-null  float64
 4   4. close   20077 non-null  float64
 5   5. volume  20077 non-null  float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 941.2 KB

In [4]:
meta_data

{'1. Information': 'Intraday (1min) open, high, low, close prices and volume',
 '2. Symbol': 'AAPL',
 '3. Last Refreshed': '2025-03-07 19:59:00',
 '4. Interval': '1min',
 '5. Output Size': 'Full size',
 '6. Time Zone': 'US/Eastern'}

In [3]:
df.isna().sum()

1. open      0
2. high      0
3. low       0
4. close     0
5. volume    0
dtype: int64